* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0;
  font-family: system-ui, sans-serif;
  color: rgb(17, 85, 28);
  background-color: rgb(147, 230, 255);
}


#getAct{
  margin-bottom: 5px;
}

 #savedTitle {
  margin-bottom: 10px
 }

main {
  padding: 1rem;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
}

