@import url('https://googleapis.com');

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0;
  font-family: 'Cormorant Garamond', serif;
  color: rgb(83, 172, 98);
  background: radial-gradient(circle, rgba(255,255,255,0.2), rgba(17,110,136,1)), rgb(17, 110, 136);
}


#getAct{
  margin-bottom: 5px;
}

 #savedTitle {
  margin-bottom: 10px
 }

main {
  padding: 1rem;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
}

.card-info {
  background-color: rgba(223, 152, 86, 0.322);
}

#logo-container{
  filter: drop-shadow(0px 0px 15px  rgba(97, 167, 40, 0.8));
  transition: filter 0.3s ease;
}

#logo-container:hover {
  filter: drop-shadow(0px 0px 25px  rgba(97, 167, 40, 1));
}

#logo-text {
  color: black;
  font-family: 'Cormorant Garamond', serif;
}
